html,
body {
  Margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}

/* Global */
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}

ul {
 margin: 0;
 padding: 0;
}


/* Mobile Design first */
    /* For mobile: */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: cadetblue;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 1.5rem;
  width: 100%;
  position: fixed;
  z-index: 2;

}

header span {
  display: none;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

header nav ul#desktop-nav {
  display: none;
}

header img {
 float: left;
 }

header nav ul#mobile-nav {
 float: right;
 padding-right: 2rem;
}

/* Showcase */

#showcase {
  background-image: url("../images/glasses-bg.png");
  background-color: coralblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 17rem;
  position: relative;
  width: 100%;
  clear: both;
  z-index: 1;
}

.headline {
  font-size: 1rem;
  color: black;
  background-color: white;
  padding: 1rem 0;
  position: fixed;
  margin-top: 11.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

/* Services section */



/* Tablet design */

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
header span {
  display: inline-block;
  float: left;
}

header nav ul#mobile-nav {
  display: none;
}

header nav ul#desktop-nav  {
  float: right;
  display: inline;
}

header nav ul#desktop-nav li {
  display: inline;
}

header nav ul#desktop-nav li a {
  text-decoration: none;
  padding-right: 2rem;
  padding-bottom: 1rem;
  color: white;
  text-align: center;
}

#showcase {
  height: 22rem;
  position: fixed;
  width: 100%;
  clear: both;
  z-index: 1;
}

.headline {
  font-size: 1.33rem;
  padding: 0.75rem 4rem;
  position: relative;
  margin-top: 7.5rem;
  float: right;
  margin-right: 2rem;
  width: auto;
}
}

/* desktop design */

@media only screen and (min-width: 960px) {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }

  header {
    position: relative;
    margin: 0 auto;
    width: 960px;
    margin-top: 1rem;
    z-index: 2;
  }

  #showcase {
    height: 31rem;
    top: 0;

  }

  .headline {
    font-size: 2rem;
    padding: 1.5rem 5rem;
    position: relative;
    margin-top: 12.5rem;
    text-align: center;
    margin-right: 0;
    /* 2rem from right not positioned yet */
    }

/* Services section */

.boxes {
  margin-top: 31rem;
}
}
