html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}

/* Global */
.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}

ul {
 margin: 0;
 padding: 0;
}


/* Mobile Design first */
    /* For mobile: */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
}

header .nav-container {
  background-color: cadetblue;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  display: none;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

header nav ul#desktop-nav {
  display: none;
}


header nav ul#mobile-nav {
  padding-right: 2rem;
}

/* Main-banner MOBILE */

header {
  background-image: url("../images/glasses-bg.png");
  background-color: coralblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 17rem;
  width: 100%;
  clear: both;
}

h1 {
  font-size: 1rem;
  color: black;
  background-color: white;
  padding: 1rem 0;
  position: relative;
  top: 9rem;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
}

/* Services section MOBILE*/

.boxes {
  margin-top: 3.77rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding-bottom: 1.54rem;
  display: flex;
}

.box img {
  width: 80%;
  padding-left: 1rem;
  margin: 0;
}

figcaption {
  font-size: 0.77rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1.2rem;
  padding-top: 1rem;
}

/* About Us MOBILE */

#about .info {
  width: 100%;
  margin-top: 3.77rem;
}

#about .info h2 {
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0;
}

#about .info p {
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  width: 95%;
  font-size: 0.77rem;
}

/* Footer Mobile */

footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: azure;
  color: black;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  display: none;
}

footer img {
  height: 1.5rem;
}

/* TABLET DESIGN */

@media only screen and (min-width: 768px) {
  .container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header span {
  display: inline-block;
}

header nav ul#mobile-nav {
  display: none;
}

header nav ul#desktop-nav  {
  display: inline;
}

header nav ul#desktop-nav li {
  display: inline;
}

header nav ul#desktop-nav li a {
  text-decoration: none;
  padding-right: 2rem;
  padding-bottom: 1rem;
  color: white;
  text-align: center;
}

header {
  height: 22rem;
  width: 100%;
  clear: both;
}

.main-banner h1 {
  font-size: 1.33rem;
  padding: 0.75rem 4rem;
  position: relative;
  top: 5rem;
  float: right;
  margin-right: 2rem;
  width: auto;
}

/* Services section TABLET*/
.boxes {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

figure {
  margin-left: 3rem;
  margin-right: 3rem;
  max-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.boxes img {
  padding-bottom: 1rem;
}

#exams img {
  max-width: 3.5rem
}

#ruler img {
  max-width: 5rem;
}

#delivery img {
  max-width: 4.8rem;
}

figcaption {
  font-size: 1rem;
  width: auto;
  text-align: center;
}

/* About section Tablet */

#about .info {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#about .col {
  width: 50%;
  margin-right: 5%;
}

#about .info h2 {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

#about .info p {
  padding-top: 1rem;
  padding-bottom: 5rem;
  width: 100%;
  font-size: 1rem;
}

/* Footer Tablet */

footer {
  max-width: 960px;
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer span {
  display: inline-block;
}

footer img {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
}

/* DESKTOP DESIGN */

@media only screen and (min-width: 960px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

header {
    height: 31rem;
    margin-top: 0;
    padding-top: 1rem; /* sets nav container 1rem lower on desktop  */
}

header .nav-container {
  top: 1rem;
  width: 960px;
  margin: 0 auto;
}

.flex-container {
  width: 85%;
  margin-right: -2rem; /* 2rem from right, not exactly right but pretty close */
}

.main-banner {
  position: relative;
  line-height: 1.2;
  top: 10rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
  text-align: center;
}

/* Services section DESKTOP */

/* About section DESKTOP */

#about .info {
  width: 100%;
  margin: 0 auto;
}

#about .col {
  width: 35%;
  margin-right: 5%;
}

#about .info p {
  padding-left: 0;
  }
}
